<?xml version="1.0"?>
<web-app>
    <servlet>
        <servlet-name>identify</servlet-name>
        <servlet-class>it.sevenbits.backend.servlets.IdentificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>identify</servlet-name>
        <url-pattern>/identify</url-pattern>
    </servlet-mapping>
</web-app>