<?xml version="1.0"?>
<web-app>
    <servlet>
        <servlet-name>simpleServlet</servlet-name>
        <servlet-class>it.sevenbits.backend.courses.practice.SimpleHttpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>simpleServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>